.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
    color: #ffffff;
}

@media screen and (max-width: 767px) {
    .cover__title {
      max-width: 248px;
      font-size: 32px;
      line-height: 1.09;
    }
  }